.slider-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.dots-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1%;
    margin-top: 15px;
    margin-bottom: 15px;
}
.arrow {
    width: 15px;
    cursor: pointer;
}
.coursal {
    text-align: center;
    margin-bottom: 20px;
}
.dots {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #463b3b;
    cursor: pointer;
}
.dot-active {
    background-color: blueviolet;
}